@media screen and (max-width: 600px) {
  .mobile {
    display: block;
    background-color: #ffff;
    box-shadow: 0em 5px 5px 0em rgba(180, 174, 174, 0.724);
  }
  .toggle-button {
    display: flex;
    margin-left: -40px;
  }

  header {
    display: none;
  }

  .line {
    height: 2px;
    background-color: #41cb83;
    margin-top: -1em;
    margin-bottom: 2em;
  }
  .mobile ul {
    margin-left: 0em;
    margin-top: 1em;
  }
  .mobile button {
    float: right;
    margin-top: 2em;
    margin-right: 65px;
    border-color: #41cb83;
    color: #41cb83;
  }
  .mobile .logo {
    margin-left: -153px;
  }
  .mobile li {
    list-style-type: none;
    margin-bottom: 1em;
    padding-bottom: 10px;
  }
  .mobile li:hover {
    color: #41cb83;
  }
  .close {
    display: none;
  }
}
