@media screen and (max-width: 600px) {
  .employee-main {
    background-color: whitesmoke;
    height: 45em;
  }
  .employee-main button{
    border-color: #41cb83;
    color: #41cb83;
    margin-top: 2em;
    width: 220px;
    margin-right:2em;
}
  .employee-main ul {
    padding-top: 4em;
    padding-left: 6em;
  }
  .employee-main li {
    list-style-type: none;
    float: left;
    margin-right: 8em;
    margin-bottom: 1em;
  }
  .employee-main li h4,
  .employee-main li p {
    margin-bottom: 1em;
  }

  #join-nameSurname {
    float: right;
    margin-right: 230px;
  }
  #position {
    font-weight: normal;
    margin-top: -5px;
    margin-left: -5px;
  }
  #explanation {
    width: 350px;
  }
}
